/Common/bin
/Common/obj
/MarketWatchdog/bin
/MarketWatchdog/obj
/Moex.Api/bin
/Moex.Api/obj
/Moex.Api.Contracts/bin
/Moex.Api.Contracts/obj
/.vs
/MarketWatchdog/.vs
/MarketDataStorage/bin/Debug/netcoreapp2.1
/MarketDataStorage/obj/Debug/netcoreapp2.1
/MarketDataStorage/obj/Debug/netcoreapp3.0
/MarketDataStorage/obj
/MarketWatchdogLambda.Tests/bin/Debug/netcoreapp2.1
/MarketWatchdogLambda.Tests/bin/Release/netcoreapp2.1/rhel.7.2-x64
/MarketWatchdogLambda.Tests/obj/Debug/netcoreapp2.1
/MarketWatchdogLambda.Tests/obj
/MarketWatchdogLambda/.vs/MarketWatchdogLambda/DesignTimeBuild
/MarketWatchdogLambda/bin/Debug/netcoreapp2.1
/MarketWatchdogLambda/bin/Release/netcoreapp2.1
/MarketWatchdogLambda/obj/Release/netcoreapp2.1/rhel.7.2-x64
/MarketWatchdogLambda/obj/Release/netcoreapp2.1
/MarketWatchdogLambda/obj/Debug/netcoreapp2.1
/MarketWatchdogLambda/obj
/MarketWatchdogLambda/.vs/MarketWatchdogLambda/v16/TestStore/0
/MarketWatchdogLambda/.vs/MarketWatchdogLambda/config
/MarketWatchdogLambda/.vs/MarketWatchdogLambda/v16
